# added to exclude git secrets
.git-credentials
.gitcookies
secrets.tar
*.enc
*.aes
*.pem
!public_key.pem
*.env
gceprd-0a2dec567405.json
credentials.json
*.key
*.crt
*.ca-bundle
*.ini

#ignore objects and archives, anywhere in the tree.
#*.[oa]
#*.[o]

# except foo.html which is maintained by hand
#!foo.html
