# added to exclude git secrets
.git-credentials
.gitcookies
secrets.tar
*.enc
*.aes
*.pem
!public_key.pem
*.env

#ignore objects and archives, anywhere in the tree.
#*.[oa]
#*.[o]

# except foo.html which is maintained by hand
#!foo.html
